.note{
    color: blueviolet;
}
h3{
    color: blue;
    background-color: bisque;
}

p{
    border-style: dotted;
}

.full{
    display: grid;
    grid-template-columns: auto auto;
}

.right{
    background-color:deeppink;
}

.left{
    background-color: chartreuse;
}

#vecums{
    width: 30 px;
    height: 80 px;
}